    $font-weight-heading: 700;
    $ff-roboto: Roboto, sans-serif;
    $ff-rlw: "Raleway", sans-serif;

    $section-padding: 60px; 
    $section-padding-pc: 94px; 
    
    $color-primary: #757575;
    $color-heading: #212121;
    $color-background: #fff;
    $color-background-secondary: #2F303A;
    $color-background-tertiary: #F5F4FA;
    $color-background-overlay: rgba(47, 48, 58, 0.4);
    $color-white: #fff;
    $color-accent: #2196F3;
    $color-black: #000;
    $color-white-transperent: #FFFFFF99;
    $color-icons: #AFB1B8;
    $color-background-icons: rgba(255, 255, 255, 0.1);
    $color-border: #EEEEEE; 

    $background-color-overlay: rgba(33, 150, 243, 0.9); 
    $background-color-backdrop: rgba(0, 0, 0, 0.2);
    $background-color-description: rgba(47, 48, 58, 0.8);

    $border-color-form: rgba(33, 33, 33, 0.2);
    $placeholder-text-color: rgba(117, 117, 117, 0.5);
    $form-button-color: #188CE8; 
