.footer {
    padding-top: 80px;
    padding-bottom: 60px;

    background-color: $color-background-secondary;
    font-size: 14px;

    .container {
        display: flex;
    }
}  

.address {
    font-style: normal;
    display: flex;
}

.address-list {
    @extend %list;

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    .map {
        color: $color-white;
    }

}

.address-list__link {
    @extend %link;

    color: $color-white-transperent;
    line-height: 1.7142;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $color-white;
    }
}

.footer-socials {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 12px;

    &__title {
        font-family: $ff-roboto;
        font-weight: $font-weight-heading;
        font-size: 14px;
        line-height: 1.1721;
        letter-spacing: 0.03em;
        color: $color-white;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
} 

.footer-socials-list {
    @extend %list;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-socials-list__link {
    @extend %link;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    background-color: $color-background-icons;
    fill: $color-white;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $color-accent;
    fill: $color-white;
    }
}
